aniso8601==1.2.0
asn1crypto==1.2.0
boto3==1.10.28
botocore==1.13.28
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.1.4
docutils==0.15.2
Flask==0.12.1
Flask-Ask==0.9.8
fudge==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
MarkupSafe==1.1.1
pycparser==2.19
pyOpenSSL==17.0.0
python-dateutil==2.8.1
PyYAML==5.1
requests==2.22.0
s3transfer==0.2.1
simplejson==3.17.0
six==1.11.0
soundcloud==0.5.0
urllib3==1.25.7
Werkzeug==0.16.0
