aniso8601==1.2.0
asn1crypto==1.2.0
attrs==19.3.0
boto3==1.10.28
botocore==1.13.28
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
docutils==0.15.2
Flask==1.1.1
Flask-Ask==0.9.8
fudge==1.1.1
idna==2.8
importlib-metadata==1.1.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
MarkupSafe==1.1.1
more-itertools==8.0.0
packaging==19.2
pluggy==0.13.1
py==1.8.0
pycparser==2.19
pyOpenSSL==19.1.0
pyparsing==2.4.5
pytest==5.3.1
python-dateutil==2.8.1
PyYAML==5.4
requests==2.22.0
s3transfer==0.2.1
simplejson==3.17.0
six==1.11.0
soundcloud==0.5.0
urllib3==1.25.7
wcwidth==0.1.7
Werkzeug==0.16.0
zipp==0.6.0
